# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Model artifacts
# --------------------
*.h5
*.pt
*.pth
*.ckpt
*.joblib
*.pkl
*.onnx

models/
checkpoints/
artifacts/
saved_models/
ASD Results/

# --------------------
# Logs & outputs
# --------------------
logs/
outputs/
results/
wandb/
mlruns/

# --------------------
# Dataset files
# --------------------
dataset
*.csv
*.tsv
*.parquet

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
